@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

body {
    background: #f1ebe5;
    padding: 0;
    margin: 0;
    font-family: "Cormorant Garamond", serif; /* Применение шрифта к body */
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0; /* Сброс отступов для заголовков и параграфов */
}

h1 {
    font-size: 2rem; /* Увеличенный размер шрифта для заголовков */
}

.Events {
    background: #dedfd6;
}

.FAQ {
    background: #908b78;
}

.head {
    display: flex;
    justify-content: center; /* Центрируем содержимое */
    background: linear-gradient(180deg, #f1ebe5, #99a481);
    padding: 2rem; /* Отступы сверху и снизу */
}

.headContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Распределение кнопок по ширине */
    width: 100%; /* Кнопки занимают всю ширину header */
    max-width: 1200px; /* Максимальная ширина контейнера */
    gap: 2rem; /* Расстояние между кнопками */
    color: antiquewhite;
}

.headContainer button {
    font-size: 1.2rem; /* Используем относительный размер */
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.onPage {
    text-shadow: 0 0 5px white,
    0 0 10px white,
    0 0 15px white;
}

.headContainer > button:first-child {
    margin-left: 2rem; /* Отступ слева у первой кнопки */
}

.headContainer > button:last-child {
    margin-right: 2rem; /* Отступ справа у последней кнопки */
}

.headContainer button:hover {
    text-shadow: 0 0 5px white,
    0 0 10px white,
    0 0 15px white;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .head {
        flex-direction: column; /* Вертикальная компоновка на меньших экранах */
    }

    .headContainer {
        flex-direction: column; /* Кнопки располагаются вертикально */
        align-items: center; /* Центрирование кнопок */
        gap: 1rem; /* Меньшее расстояние между кнопками */
    }

    .headContainer button {
        font-size: 1rem; /* Уменьшение размера шрифта на маленьких экранах */
    }

    h1 {
        font-size: 1.5rem; /* Уменьшение размера заголовков */
    }
}

@media (max-width: 480px) {
    .head {
        padding: 1rem; /* Меньшие отступы на очень маленьких экранах */
    }

    h1 {
        font-size: 1.2rem; /* Еще меньше заголовки */
    }
}
